
/* Google Fonts */
    /* Tektur */
    @import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
    /* Goldman */
    @import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
    /* Bruno Ace */
    @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

    
/* CSS Variables */

:root {
    --primary-font: 'Tektur', sans-serif;
    --secondary-font: 'Goldman', serif;
    --primary-color: #4bec2a; /* Green */
    --secondary-color: #000000; /* Black */
    --container-text-color: #215016; /* Dark Green */
    --container-background-color: #c3c5c4 ; /* Light Grey */ 
}

/* Global Styles */

    body {
    font-family: var(--primary-font);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    text-shadow: #4bec2a 0px 0px 10px;
    
    /* Center content */
    display: flex;
    flex-direction: column;
    align-items: center;
}

    footer {
    /* Ensure footer is behind the canvas */
    position: relative;
    z-index: 1;
}   

/* Navbar */
    .navbar {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 15px;
    font-family: var(--secondary-font); 
    background: linear-gradient(135deg, #0f0f0f, #2b2828); 
    box-shadow: #215016 0px 0px 10px;

    /* Display items at either end of the navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Ensure navbar is above canvas */
    z-index: 1;
}

    .games-btn {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-weight: bold;
    padding: 8px 20px;
    background-color: var(--primary-color);
    border-radius: 45px;
    box-shadow: #215016 0px 0px 10px;
}

    .nav-link {
    color: var(--primary-color);
    font-weight: bold;
}

/* Canvas */
    #canvas{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000;

    /* Puts canvas above other elements */
    z-index: 0;
}

/* Landing page */
    #landing-page {
    font-family: var(--secondary-font);

    /* Center the landing page content */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* Ensure text is readable */
    font-size: 1.5rem;
    text-align: center; 


    /* Puts content above canvas */
    position: relative;
    z-index: 1;
}

/* Enter Button */
    #enter-btn {
    background-color: transparent;
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    padding: 15px 20px;
    font-size: 1.5rem;
    border-radius: 45px;
}

/* Main Content */

/* Genre Buttons */
    .genre {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-weight: bold;
    padding: 8px 20px;
    background: linear-gradient(135deg, #4bec2a, #44a82d);
    border-radius: 45px;
    margin: 10px;
}

/* Center genre buttons */
    .genre-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Artist Profiles */
.carousel-container {
  position: relative;
  overflow: hidden;
  max-width: 400px;
  margin: 4rem auto;
  background-color: #0000;
  box-shadow: 0 0 15px var(--primary-color);
  border-radius: 10px;
  padding: 2rem;
}

.carousel-card {
  margin: 4rem auto;
  padding: 1rem;
  height: 500px;
  background-color: #000;
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 15px var(--primary-color);
  border-radius: 10px;
  font-family: var(--primary-font);
}

/* Control images replaced by js */
.card-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.card-content {
    width: 300px;
    height: 150px;
    font-family: var(--secondary-font);
    
  /* Align card content */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content p {
  padding: 15px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s;
  gap: 2rem;
}

.carousel-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--primary-color);
}

.award-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: transform 0.3s;
}

.award-tag {
  background: var(--container-text-color);
  border: 1px solid var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-top: 4.5rem;
  margin-right: 10px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #0000;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 0.5rem;
  cursor: pointer;
}

.carousel-button:hover {
  background: var(--primary-color);
  color: #000;
  box-shadow: 0 0 10px var(--primary-color);
}

.carousel-button.prev {
  left: -1rem;
}

.carousel-button.next {
  right: -1rem;
}

/* To give breathing space for arrows */
.carousel-button svg {
  width: 2rem;
  height: 2rem;
}

/* Style made for js use to make them easier to find */
/*hidden class to hide games when not in use */
.hidden {
  display: none;
}

:fullscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  z-index: 9999;
}

/* Footer */
    #footer {
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    font-family: var(--secondary-font);
    box-shadow: #215016 0px 0px 10px;
    margin-top: 200px;
}

/* Media queries */

@media screen and (min-width: 922px) {
    
/* Artist profiles */
.carousel-container {
    max-width: 800px;
}

}

@media only screen and (max-width: 768px) {
  .carousel-container {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .carousel-track {
    flex: 1; 
    display: flex;
    transition: transform 0.3s ease-in-out;
  }


  .carousel-indicators,
  .carousel-button {
    z-index: 10;
  }

  .carousel-indicators {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 80px;
  }

}

