
    /* Google Fonts */
    /* Tektur */
    @import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
    /* Goldman */
    @import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
    /* Bruno Ace */
    @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

    
    /* CSS Variables */

:root {
    --primary-font: 'Tektur', sans-serif;
    --secondary-font: 'Goldman', serif;
    --primary-color: #4bec2a; /* Green */
    --secondary-color: #000000; /* Black */
    --container-text-color: #215016; /* Dark Green */
    --container-background-color: #c3c5c4 ; /* Light Grey */ 
}

    /* Global Styles */
    

    /* Buttons */
    /* Enter Button */

    /* Genre Buttons */

    /* Navbar */

    /* Canvas */

    /* Landing page */


    /* Main Content */

   /* Artist Profiles */


    /* Footer */